:root {
  --background-color: #2e2a2a;
  --font-color: #fffffc;
  --font-fam: "Roboto Mono", monospace;
}
* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: var(--background-color);
  margin: 0rem;
  overflow: hidden;
  display: grid;
  place-items: center;

  cursor: none;
}

P {
  color: var(--font-color);
  font-size: 8vw;
  font-family: var(--font-fam);
  margin: 0rem;
  text-transform: uppercase;
}

.line {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

#main:has(.cool:hover) .word:not(.cool:hover) {
  opacity: 0.2;
  transition: transform 2000ms ease;
}

.cool > .play {
  display: inline-block;
  transition: transform 350ms ease;
}

.cool:hover > .play {
  transition-duration: 800ms;
}

.cool:hover > .play:nth-child(1) {
  transform: translate(-80%, 60%) rotate(8deg);
}

.cool:hover > .play:nth-child(2) {
  transform: translate(-40%, 20%) rotate(4deg);
}

.cool:hover > .play:nth-child(3) {
  transform: translate(-10%, 60%) rotate(-6deg);
}

.cool:hover > .play:nth-child(4) {
  transform: translate(0%, -20%) rotate(5deg);
}

.cool:hover > .play:nth-child(5) {
  transform: translate(0%, 20%) rotate(-3deg);
}

.cool:hover > .play:nth-child(6) {
  transform: translate(0%, -40%) rotate(-5deg);
}

.cool:hover > .play:nth-child(7) {
  transform: translate(0%, -50%) rotate(8deg);
}

/* modals */

dialog::backdrop {
  background-color: hsla(200, 100%, -50%, 0.5);
}
.modal {
  height: 90vh;
  width: 90vw;
  cursor: auto;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-fam);
}

.bnt {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-fam);
  border: none;
  padding: 0.25rem 0.75rem;
  font-size: 2rem;
}

.bnt:hover {
  color: rgba(214, 19, 19, 0.856);
  border: none;
}

.modal-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.headerTitel {
  padding: 1rem;
}

.modal-header {
  display: flex;
  flex-direction: row;

  align-items: center;
  flex: 1;
}
.headerBnt {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}
.menu-drop {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--background-color);
  color: var(--font-color);
}

/* Work Modal */

/* About me Modal */
.aboutMeContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.aboutMeContent,
.modalFont {
  font-size: 1.75ch;
  padding: 1rem;
}
.about-pic {
  height: 20rem;
  width: 15rem;
  border: 1px solid var(--font-color);
  border-radius: 0.2rem;
}

/* contact Modal */
.contact-font {
  font-size: 1.75ch;
}
.linked {
  color: var(--font-color);
}

.contactMe {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.form {
  grid-column: 2/4;
}

.socialLinks {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  grid-column: 5;
}

.form-group {
  padding: 0.5rem;
}

.form-control {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-fam);
  border: 1px solid white;
  padding: 0.5rem;
}

/* cursor */

.cursor-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--font-color);
}

.cursor-outline {
  height: 3rem;
  width: 3rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}
